﻿@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;list-style:none;}
#container{
    height:899px;
    background: url(../images/bg.png) no-repeat 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
p{
    font-family: "微软雅黑"，"宋体";
    font-size: 16px;
    color:white;
    text-decoration:none;
    
}

.head{
    height: 60px;
    background-color: #0c84cb;
}
.left{position:relative;top:15px;}
.left ul{
    list-style: none;
}
.left ul li{ 
     float:left;  
     line-height:55px; 
     text-align:center; 
     position:relative;
 }
.left a{ 
     text-decoration:none; 
     color:white; 
     display:block; 
     width:70px;
 }
 .landing{
     width: 40px;
 }
 .enroll{width: 55px;}
.left a:hover{ 
     color:black; 
     text-decoration:none;
 }
.right{
    height: 35px;
    width: 300px;
    float: right;
    margin-top: 20px;
    right: 100px;
    top: 20px;
}
.right td{
    margin: auto;
}
.right td input{
    border-radius:15px 15px;
    -ms-border-radius:15px 15px;
    -webkit-border-radius:15px 15px;
    -moz-border-radius:15px 15px;
    -o-border-radius:15px 15px;
    background-color: #b0d8ef;
    border-style:none;
    height:25px;
}
.right td img{
    width:25px;
    height:25px;
    position:relative;
    top:3px;
    left:10px;
}
.menu{
    height:70px;
    background-color:#28679d;
    box-shadow: 3px 3px 8px #236198;
}
.menu img{
    width:150px;
    height:65px;
    position: relative;
    left:100px;
    top:3px;
}
.menu_right{
    width:922px;
    height:80px;
    float: right;
    right: 10px;
    
}
.menu_right ul{
    list-style: none;
}
.menu_right ul li{ 
     float:left;  
     line-height:70px; 
     text-align:center; 
     position:relative;
 }
    .menu_right ul li:hover{
        background-color: #214b75;
    }
.menu_right a{ 
     text-decoration:none; 
     color:white; 
     font-weight:bold;
     display:block; 
     width:110px;
 }
.menu_right a:hover{ 
     color:black; 
     text-decoration:none;
 }
.menu_right ul li a p{ 
     font-family: "微软雅黑""宋体";
    font-size: 22px;
    color:white;
 }
.first{
    background-color: #214b75;
}
.middle{
    width:680px;
    height:600px;
    position: relative;
    left:500px;
    box-shadow:0px 0px 8px #52869f;
    background: #b9e1f8;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b9e1f8), to(transparent));
    background: -webkit-linear-gradient(#b9e1f8, transparent);
    background: -moz-linear-gradient(#b9e1f8, transparent);
    background: -ms-linear-gradient(#b9e1f8, transparent);
    background: -o-linear-gradient(#b9e1f8, transparent);
    background: linear-gradient(#b9e1f8, transparent);
}
.moddle-1{
    width:530px;
    height:150px;
    position: relative;
    left:50px;
    top:20px;
}
.moddle-1 p{font-size: 18px;}
.moddleOne{
    width:260px;
    height:150px;
    position: relative;
    float: left;
}
.tzgg a{ 
     text-decoration:none;  
     display:block; 
 }
.tzgg{
    width: 100px;
    height:38px;
    background-color: #3375a7;
    border-radius:5px 5px 0px 0px;
    -ms-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -o-border-radius:5px 5px 0px 0px;
    box-shadow:3px 3px 5px #81adcc inset;
    
}
.tzgg p{
    text-align: center;
    font-weight:bold;
    padding-top: 7px;
    color:white;
    font-size: 20px;
}

.moddleOne ul p{
    margin-top: 2px;
    letter-spacing: 1.5px;
    text-decoration:underline;
    margin-left: 5px;
}
.s_box a{color:#1d1f84;}
.s_box ul li img{
    width:17px;
    height:15px;
    margin-top: 8px;
}
.moddleTwo ul p{
    margin-top: 2px;
    letter-spacing: 1.5px;
    text-decoration:underline;
    margin-left: 5px;
}
.s_box2 a{color:#1d1f84;}
.moddleOne img{
    width:250px;
    height:7px;
    position:absolute;
    top:35px;
    left:-5px;
}
.moddleTwo{
    width:260px;
    height:150px;
    position:relative;
    float: right;
    margin-top:-10px;
}
.moddleTwo img{
    width:250px;
    height:7px;
    position:absolute;
    top:32px;
    left:-5px;
}
.notice{
    width:500px;
    height:300px;
    margin:10px;
    position: relative;
    left:45px;
    top:70px;
    overflow:hidden;
}

.notice-tit{
    height:27px;
    position:relative;
}
.notice-tit p{
    font-size: 20px;
    padding-top: 8px;
}
.notice-tit ul{
    position:absolute;
    width:310px;
    left:-1px;
}

.notice-tit li{
    float:left;
    width:100px;
    height:38px;
    line-height:26px;
    text-align:center;
    overflow:hidden;
    background:#FFF;
    padding:0 1px;
    border-bottom:1px solid #eee;
    background-color: #3b7bab;
    border-radius:5px 5px 0px 0px;
    -ms-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    -o-border-radius:5px 5px 0px 0px;
    box-shadow:3px 3px 5px #81adcc inset;
}

.notice-tit li.select{
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    padding:0;
    color:white;
    font-weight:bolder;
}

.notice li a:link,.notice li a:visited{
    text-decoration:none;
    color:#000;
}

.s_box{margin-top:10px}
.s_box2{margin-top:10px}
.notice-con .mod{margin:19px 6px;}
.notice-con .mod ul li{
    float:left;
    width:480px;
    height:28px;
    overflow:hidden;
}
.mod p{font-size: 18px;color:#1d1f84;text-decoration:underline;letter-spacing: 1.5px;}
.notice img{
    width:500px;
    height:7px;
    position: absolute;
    top:35px;
    left:-10px;
}



