﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="new_exp.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <ul>
    <%foreach(var item in this.admin) {%>
         <li><%=item.name %></li>
        <%} %>
            </ul>
    </div>
        <div><%=json %></div>
    </form>
</body>
</html>
